<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <title>Krubird Swim</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{/theme/main/webinfo/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/theme/main/webinfo/css/font-awesome_5.10.0_css_all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/theme/main/webinfo/css/font_bootstrap-icons.css}">
    <!--    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">-->
    <!--    <link type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">-->

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/theme/main/webinfo/lib/animate/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/theme/main/webinfo/lib/owlcarousel/assets/owl.carousel.min.css}">


    <!--    <link href="lib/animate/animate.min.css" rel="stylesheet">-->
    <!--    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">-->

    <!-- Customized Bootstrap Stylesheet -->

    <link rel="stylesheet" type="text/css" th:href="@{/theme/main/webinfo/css/bootstrap.min.css}">
    <!--    <link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Template Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/theme/main/webinfo/css/style.css}">
    <!--    <link href="css/style.css" rel="stylesheet">-->


</head>
<!-- END: Head -->

<!-- BEGIN: Body -->
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">

<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0" id="home">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="m-0">KrubirdSwim</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <!--                    <a href="#home" class="nav-item nav-link active">Home</a>-->
                    <a href="#about" class="nav-item nav-link">เกี่ยวกับเรา</a>
                    <a href="#feature" class="nav-item nav-link">สาขา ครูเบิร์ด</a>
                    <a href="#pricing" class="nav-item nav-link">คอร์สเรียน</a>
                    <a href="#review" class="nav-item nav-link">คุณครูผู้สอน</a>
                    <a href="#contact" class="nav-item nav-link">ติดต่อ</a>
                </div>
                <a th:href="@{/loginAdmin}"
                   class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Login Admin</a>
            </div>
        </nav>

        <div class="container-xxl bg-primary hero-header">
            <div class="container px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-8 text-center text-lg-start">
                        <h1 class="text-white mb-4 animated slideInDown">ครูเบิร์ดหาดใหญ่ SwimHatyai</h1>
                        <p class="text-white pb-3 animated slideInDown">ทีมผู้ฝึกสอนว่ายน้ำ ครูเบิร์ดหาดใหญ่ SwimHatyai
                            ห้ามพลาด ‼️ คอร์สว่ายน้ำช่วงวันหยุดที่จะทำให้เด็กหาดใหญ่ไม่มีเบื่อ
                            มาเรียนว่ายน้ำกับทีมครูเบิร์ดกันดีกว่าครับ</p>
                        <a href=""
                           class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill me-3 animated slideInLeft">Read
                            More</a>
                        <a href=""
                           class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">Contact
                            Us</a>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp"
                         data-wow-delay="0.3s">
                        <div class="owl-carousel screenshot-carousel">
                            <img class="img-fluid" th:src="@{/theme/main/webinfo/img/addFb01.jpeg}" alt="">
                            <img class="img-fluid" th:src="@{/theme/main/webinfo/img/addFb02.jpeg}" alt="">
                            <img class="img-fluid" th:src="@{/theme/main/webinfo/img/addFb03.jpeg}" alt="">
                            <img class="img-fluid" th:src="@{/theme/main/webinfo/img/addFb04.jpeg}" alt="">
                            <img class="img-fluid" th:src="@{/theme/main/webinfo/img/screenshot-5.png}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->


    <!-- About Start -->
    <div class="container-xxl py-5" id="about">
        <div class="container py-5 px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium">เกี่ยวกับเรา</h5>
                    <h1 class="mb-4">ทีมผู้ฝึกสอนว่ายน้ำ ครูเบิร์ดหาดใหญ่</h1>
                    <p class="mb-4">ทำไมต้องเรียนกับทีมครูเบิร์ด ?
                        เพราะเรียนกับเราไม่ใช่แค่เอาตัวรอดได้แต่มีการตั้งเป้าหมายในการเรียนให้กับน้อง ๆด้วยครับ</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <i class="fa fa-address-book fa-2x text-primary-gradient flex-shrink-0 mt-1"></i>
                                <div class="ms-3">
                                    <h2 class="mb-0" data-toggle="counter-up">1234</h2>
                                    <p class="text-primary-gradient mb-0">คุณครูทั้งหมด</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="d-flex">
                                <i class="fa fa-user fa-2x text-secondary-gradient flex-shrink-0 mt-1"></i>
                                <div class="ms-3">
                                    <h2 class="mb-0" data-toggle="counter-up">1234</h2>
                                    <p class="text-secondary-gradient mb-0">นักเรียนทั้งหมด</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill mt-3">Read More</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s"
                         th:src="@{/theme/main/webinfo/img/about.png}">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Features Start -->
    <div class="container-xxl py-5" id="feature">
        <div class="container py-5 px-lg-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">สาขา ทีมผู้ฝึกสอนว่ายน้ำ</h5>
                <h1 class="mb-5">ครูเบิร์ดหาดใหญ่</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item bg-light rounded p-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-eye text-white fs-4"></i>
                        </div>
                        <h5 class="mb-3">สาขาหาดใหญ่</h5>
                        <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                            diam sed stet lorem.</p>
                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">รายละเอียดสระ
                        </button>
<!--                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">โทร 000-0000-0000</button>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="feature-item bg-light rounded p-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-layer-group text-white fs-4"></i>
                        </div>
                        <h5 class="mb-3">สาขาสงขลา</h5>
                        <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                            diam sed stet lorem.</p>
                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">รายละเอียด</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-item bg-light rounded p-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-edit text-white fs-4"></i>
                        </div>
                        <h5 class="mb-3">สาขาสะเดา</h5>
                        <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                            diam sed stet lorem.</p>
                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">รายละเอียด</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item bg-light rounded p-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-shield-alt text-white fs-4"></i>
                        </div>
                        <h5 class="mb-3">สาขาสุราษฎร์ธานี</h5>
                        <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                            diam sed stet lorem.</p>
                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">รายละเอียด</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="feature-item bg-light rounded p-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-cloud text-white fs-4"></i>
                        </div>
                        <h5 class="mb-3">สาขาตรัง</h5>
                        <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                            diam sed stet lorem.</p>
                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">รายละเอียด</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-item bg-light rounded p-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-mobile-alt text-white fs-4"></i>
                        </div>
                        <h5 class="mb-3">สาขานครศรีธรรมราช</h5>
                        <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                            diam sed stet lorem.</p>
                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">รายละเอียด</button>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-item bg-light rounded p-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-mobile-alt text-white fs-4"></i>
                        </div>
                        <h5 class="mb-3">สาขาทุ่งสง</h5>
                        <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                            diam sed stet lorem.</p>
                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">รายละเอียด</button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-item bg-light rounded p-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-mobile-alt text-white fs-4"></i>
                        </div>
                        <h5 class="mb-3">สาขาภูเก็ต</h5>
                        <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                            diam sed stet lorem.</p>
                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">รายละเอียด</button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-item bg-light rounded p-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle mb-4"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-mobile-alt text-white fs-4"></i>
                        </div>
                        <h5 class="mb-3">สาขานครศรีธรรมราช</h5>
                        <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet
                            diam sed stet lorem.</p>
                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">รายละเอียด</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <!-- Screenshot Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium">เงื่อนไขการได้รับ</h5>
                    <h1 class="mb-4">ใบประกาศนียบัตรและโล่ที่ระลึก</h1>
                    <p class="mb-4">โดยทางทีมจะมีการสอบขั้นพื้นฐานด้วยครับและเมื่อน้อง
                        ๆผ่านการสอบขั้นพื้นฐานโดยได้รับการพิจารณาจากครูผู้สอนแล้ว น้อง ๆจะได้รับใบประกาศนียบัตร
                        จากทีมผู้ฝึกสอนว่ายน้ำ ครูเบิร์ดภาคใต้ โดยรายละเอียดในการสอบขั้นพื้นฐานมีดังนี้ครับ</p>
                    <p><i class="fa fa-check text-primary-gradient me-3"></i>ว่ายน้ำฟรีสไตล์ 25 เมตร</p>
                    <p><i class="fa fa-check text-primary-gradient me-3"></i>ปลาดาวนอนหงาย 1 นาที</p>
                    <p class="mb-4"><i class="fa fa-check text-primary-gradient me-3"></i>ว่ายท่าลูกหมาตกน้ำไกล 8 เมตร
                    </p>
                    <p class="mb-4"><i class="fa fa-check text-primary-gradient me-3"></i>จิงโจ้ใต้น้ำไกล 8 เมตร</p>
                    <p class="mb-4"><i class="fa fa-check text-primary-gradient me-3"></i>ดำน้ำเก็บของ 2 ชิ้น</p>
                    <a href="" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill mt-3">รายละเอียดเพิ่มเติม</a>
                </div>
                <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp"
                     data-wow-delay="0.3s">
                    <div class="owl-carousel screenshot-carousel">
                        <img class="img-fluid" th:src="@{/theme/main/webinfo/img/screenshot-1.png}" alt="">
                        <img class="img-fluid" th:src="@{/theme/main/webinfo/img/screenshot-2.png}" alt="">
                        <img class="img-fluid" th:src="@{/theme/main/webinfo/img/screenshot-3.png}" alt="">
                        <img class="img-fluid" th:src="@{/theme/main/webinfo/img/screenshot-4.png}" alt="">
                        <img class="img-fluid" th:src="@{/theme/main/webinfo/img/screenshot-5.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Screenshot End -->


    <!-- Process Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">How It Works</h5>
                <h1 class="mb-5">3 Easy Steps</h1>
            </div>
            <div class="row gy-5 gx-4 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-cog fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Install the App</h5>
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum
                            et lorem et sit sed stet</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-secondary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-address-card fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Setup Your Profile</h5>
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum
                            et lorem et sit sed stet</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative bg-light rounded pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle position-absolute top-0 start-50 translate-middle shadow"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-check fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Enjoy The Features</h5>
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum
                            et lorem et sit sed stet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Start -->


    <!-- Download Start -->
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s"
                         th:src="@{/theme/main/webinfo/img/about.png}">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h5 class="text-primary-gradient fw-medium">Download</h5>
                    <h1 class="mb-4">Download The Latest Version Of Our App</h1>
                    <p class="mb-4">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat
                        ipsum et lorem et sit, sed stet no labore lorem sit clita duo justo eirmod magna dolore erat
                        amet</p>
                    <div class="row g-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <a href="" class="d-flex bg-primary-gradient rounded py-3 px-4">
                                <i class="fab fa-apple fa-3x text-white flex-shrink-0"></i>
                                <div class="ms-3">
                                    <p class="text-white mb-0">Available On</p>
                                    <h5 class="text-white mb-0">App Store</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <a href="" class="d-flex bg-secondary-gradient rounded py-3 px-4">
                                <i class="fab fa-android fa-3x text-white flex-shrink-0"></i>
                                <div class="ms-3">
                                    <p class="text-white mb-0">Available On</p>
                                    <h5 class="text-white mb-0">Play Store</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Download End -->


    <!-- Pricing Start -->
    <div class="container-xxl py-5" id="pricing">
        <div class="container py-5 px-lg-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">คอร์สเรียน ว่ายน้ำ</h5>
                <h1 class="mb-5">Choose Your Plan</h1>
            </div>
            <div class="tab-class text-center pricing wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center bg-primary-gradient rounded-pill mb-5">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="pill" href="#tab-1">Monthly</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="pill" href="#tab-2">Yearly</button>
                    </li>
                </ul>
                <div class="tab-content text-start">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <div class="bg-light rounded">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">1.คอร์สปกติ</h4>
                                        <span style="font-size: 22px; line-height: 45px; color: #000000">2,600 บาท/10ชั่วโมง</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <!--                                        <h1 class="mb-3">-->
                                        <!--                                            <small class="align-top"-->
                                        <!--                                                   style="font-size: 22px; line-height: 45px;">$</small>2,600<small-->
                                        <!--                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/-->
                                        <!--                                            15 ชั่วโมง</small>-->
                                        <!--                                        </h1>-->
                                        <div class="d-flex justify-content-between mb-3"><span>เปิดตลอดทั้งปี</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>เลือก วัน/เวลาได้</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>ต้องจับกลุ่มมาเอง</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>เลือกคุณครูและสระได้</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>ลาได้ ไม่นับชั่วโมงเรียน</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span>ใช้คูปองส่วนลดได้</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span>ปรับเปลี่ยนคอร์สได้</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">โทร
                                            088-264-4265
                                        </button>
                                        <button href="" class="btn btn-secondary-gradient rounded-pill py-2 px-4 mt-4">
                                            @Line
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-light rounded border">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">2.คอร์สส่วนตัว</h4>
                                        <span style="font-size: 22px; line-height: 45px; color: #000000">2,400 - 3,600 บาท/10ชั่วโมง</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <!--                                        <h3 class="mb-3">-->
                                        <!--                                            <small class="align-top"-->
                                        <!--                                                   style="font-size: 22px; line-height: 45px;">$</small>2,400-3,600<small-->
                                        <!--                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/-->
                                        <!--                                            10 ชั่วโมง</small>-->
                                        <!--                                        </h3>-->
                                        <div class="d-flex justify-content-between mb-3"><span>เปิดตลอดทั้งปี</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>เลือก วัน/เวลาได้</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>ต้องจับกลุ่มมาเอง</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>เลือกคุณครูและสระได้</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>ลาได้ ไม่นับชั่วโมงเรียน</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span>ใช้คูปองส่วนลดได้</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span>ปรับเปลี่ยนคอร์สได้</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">โทร
                                            088-264-4265
                                        </button>
                                        <button href="" class="btn btn-secondary-gradient rounded-pill py-2 px-4 mt-4">
                                            @Line
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-light rounded">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">3.คอร์สพิเศษ</h4>
                                        <span style="font-size: 22px; line-height: 45px; color: #000000"> สามารถติดต่อสอบถามได้ที่</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <!--                                        <h1 class="mb-3">-->
                                        <!--                                            <small class="align-top"-->
                                        <!--                                                   style="font-size: 22px; line-height: 45px;">$</small>-<small-->
                                        <!--                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/-->
                                        <!--                                            - ชั่วโมง</small>-->
                                        <!--                                        </h1>-->
                                        <div class="d-flex justify-content-between mb-3"><span>เปิดตลอดทั้งปี</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>เลือก วัน/เวลาได้</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>ต้องจับกลุ่มมาเอง</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>เลือกคุณครูและสระได้</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-3">
                                            <span>ลาได้ ไม่นับชั่วโมงเรียน</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span>ใช้คูปองส่วนลดได้</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>

                                        <div class="d-flex justify-content-between mb-2">
                                            <span>ปรับเปลี่ยนคอร์สได้</span><i
                                                class="fa fa-times text-primary-gradient pt-1"></i></div>
                                        <button class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">โทร
                                            088-264-4265
                                        </button>
                                        <button href="" class="btn btn-secondary-gradient rounded-pill py-2 px-4 mt-4">
                                            @Line
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade p-0">
                        <div class="row g-4">
                            <div class="col-lg-4">
                                <div class="bg-light rounded">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">1.คอร์สปกติ</h4>
                                        <span>Powerful & Awesome Features</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <h1 class="mb-3">
                                            <small class="align-top"
                                                   style="font-size: 22px; line-height: 45px;">$</small>114.99<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/
                                            Yearly</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Responsive Layout</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>Cross-browser Support</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">Get
                                            Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-light rounded border">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">2.คอร์สส่วนตัว</h4>
                                        <span>Powerful & Awesome Features</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <h1 class="mb-3">
                                            <small class="align-top"
                                                   style="font-size: 22px; line-height: 45px;">$</small>124.99<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/
                                            Yearly</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Responsive Layout</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>Cross-browser Support</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">Get
                                            Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bg-light rounded">
                                    <div class="border-bottom p-4 mb-4">
                                        <h4 class="text-primary-gradient mb-1">คอร์สพิเศษ</h4>
                                        <span>ปิดเทอม/ตำรวจ</span>
                                    </div>
                                    <div class="p-4 pt-0">
                                        <h1 class="mb-3">
                                            <small class="align-top"
                                                   style="font-size: 22px; line-height: 45px;">$</small>134.99<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/
                                            Yearly</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3"><span>HTML5 & CSS3</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3"><span>Bootstrap v5</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Responsive Layout</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span>Cross-browser Support</span><i
                                                class="fa fa-check text-primary-gradient pt-1"></i></div>
                                        <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">Get
                                            Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5" id="review">
        <div class="container py-5 px-lg-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">คุณครูผู้สอน</h5>
                <h1 class="mb-5">คุณครูผู้สอน ครูเบิร์ดหาดใหญ่</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="img-fluid bg-white rounded flex-shrink-0 p-1"
                             th:src="@{/theme/main/webinfo/img/testimonial-1.jpg}"
                             style="width: 85px; height: 85px;">
                        <div class="ms-4">
                            <h5 class="mb-1">Client Name</h5>
                            <p class="mb-1">Profession</p>
                            <div>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                            </div>
                        </div>
                    </div>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos.
                        Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="img-fluid bg-white rounded flex-shrink-0 p-1"
                             th:src="@{/theme/main/webinfo/img/testimonial-2.jpg}"
                             style="width: 85px; height: 85px;">
                        <div class="ms-4">
                            <h5 class="mb-1">Client Name</h5>
                            <p class="mb-1">Profession</p>
                            <div>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                            </div>
                        </div>
                    </div>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos.
                        Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="img-fluid bg-white rounded flex-shrink-0 p-1"
                             th:src="@{/theme/main/webinfo/img/testimonial-3.jpg}"
                             style="width: 85px; height: 85px;">
                        <div class="ms-4">
                            <h5 class="mb-1">Client Name</h5>
                            <p class="mb-1">Profession</p>
                            <div>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                            </div>
                        </div>
                    </div>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos.
                        Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item rounded p-4">
                    <div class="d-flex align-items-center mb-4">
                        <img class="img-fluid bg-white rounded flex-shrink-0 p-1"
                             th:src="@{/theme/main/webinfo/img/testimonial-4.jpg}"
                             style="width: 85px; height: 85px;">
                        <div class="ms-4">
                            <h5 class="mb-1">Client Name</h5>
                            <p class="mb-1">Profession</p>
                            <div>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                                <small class="fa fa-star text-warning"></small>
                            </div>
                        </div>
                    </div>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos.
                        Clita erat ipsum et lorem et sit.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Contact Start -->
<!--    <div class="container-xxl py-5" id="contact">-->
<!--        <div class="container py-5 px-lg-5">-->
<!--            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">-->
<!--                <h5 class="text-primary-gradient fw-medium">Contact Us</h5>-->
<!--                <h1 class="mb-5">Get In Touch!</h1>-->
<!--            </div>-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-lg-9">-->
<!--                    <div class="wow fadeInUp" data-wow-delay="0.3s">-->
<!--                        <p class="text-center mb-4">The contact form is currently inactive. Get a functional and working-->
<!--                            contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little-->
<!--                            code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>-->
<!--                        <form>-->
<!--                            <div class="row g-3">-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-floating">-->
<!--                                        <input type="text" class="form-control" id="name" placeholder="Your Name">-->
<!--                                        <label for="name">Your Name</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="form-floating">-->
<!--                                        <input type="email" class="form-control" id="email" placeholder="Your Email">-->
<!--                                        <label for="email">Your Email</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12">-->
<!--                                    <div class="form-floating">-->
<!--                                        <input type="text" class="form-control" id="subject" placeholder="Subject">-->
<!--                                        <label for="subject">Subject</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12">-->
<!--                                    <div class="form-floating">-->
<!--                                        <textarea class="form-control" placeholder="Leave a message here" id="message"-->
<!--                                                  style="height: 150px"></textarea>-->
<!--                                        <label for="message">Message</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12 text-center">-->
<!--                                    <button class="btn btn-primary-gradient rounded-pill py-3 px-5" type="submit">Send-->
<!--                                        Message-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5 px-lg-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Address</h4>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Quick Link</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Career</a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Popular Link</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Career</a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                        vulpu</p>
                    <div class="position-relative w-100 mt-3">
                        <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                               placeholder="Your Email" style="height: 48px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                class="fa fa-paper-plane text-primary-gradient fs-4"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container px-lg-5">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="fa fa-arrow-up text-white"></i></a>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">รายละเอียด สระนภาลัย</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    ชั้น 6 คอนโดนภาลัยเพลส ข้างๆ โรงพยาบาล ราษฎร์ยินดี ระบบน้ำ : คลอรีน
                    เปิด ทุกวัน 08.00-20.00 น. เฉพาะวันอาทิตย์ 13.00-18.00 น. ค่าลงสระ เด็ก 80 บาท/ผู้ใหญ่ 100 บาท
                </p>
                <p>ติดต่อโทร : <span>000-0000-0000</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary-gradient" data-bs-dismiss="modal">Close</button>
<!--                <button type="button" class="btn btn-primary">Understood</button>-->
            </div>
        </div>
    </div>
</div>


</body>
<!-- JavaScript Libraries -->
<script th:src="@{/theme/main/webinfo/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/theme/main/webinfo/js/js_bootstrap.bundle.min.js}"></script>

<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>-->

<script th:src="@{/theme/main/webinfo/lib/wow/wow.min.js}"></script>
<script th:src="@{/theme/main/webinfo/lib/easing/easing.min.js}"></script>
<script th:src="@{/theme/main/webinfo/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/theme/main/webinfo/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/theme/main/webinfo/lib/owlcarousel/owl.carousel.min.js}"></script>


<!-- Template Javascript -->
<script th:src="@{/theme/main/webinfo/js/main.js}"></script>

<script>
    var myModalEl = document.getElementById('myModal')
    myModalEl.addEventListener('hidden.bs.modal', function (event) {
        // do something...
    })
</script>


</html>
